@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: #2b3468;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 200px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border-style: dashed;
  text-align: center;
  border-color: #2b3468;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

table {
  width: 100%;
}

.bot-cont {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.botao-gerar {
  font-size: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.botao-gerar:hover {
  background-color: greenyellow;
  transition: all 0.5s ease-in;
}

.botao-validar {
  font-size: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.botao-validar:hover {
  background-color: greenyellow;
  transition: all 0.5s ease-in;
}

.input-cpf {
  text-align: center;
}

.text-cpf {
  text-align: center;
  width: 50%;
  font-size: 25px;
  border-color: var(--primary-color);
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--primary-color);
}

.cpf-valido{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 22px;
}